@model PortfolioProjectNight.Models.Work
@{
    ViewBag.Title = "CreateWork";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Çalışmalarım Güncelleme Sayfası</h2>

<form method="post">

    @Html.HiddenFor(x => x.WorkID, new { @class = "form-control" })
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description,6,0, new { @class = "form-control" })
    <br />
    <label>Fotoğraf</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <label>Github</label>
    @Html.TextBoxFor(x => x.GithubUrl, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Ekle</button>
</form>

