@model PortfolioProjectNight.Models.SocialMedia
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yeni Sosyal Medya Ekleme Sayfası</h2>

<form method="post">
   
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Icon</label>
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Status, "Durum")
    @Html.DropDownListFor(x => x.Status, new List<SelectListItem>
    {
        new SelectListItem { Text = "Aktif", Value = "true" },
        new SelectListItem { Text = "Pasif", Value = "false" }
    }, new { @class = "form-control" })
    <br />
    <label>Url</label>
    @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Yeteneği Ekle</button>

</form>

